video
{   width: 100%;
    height: auto;
    border-radius: 20px 60px;
    border: 10px solid #A8BB81;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3), 0 0 25px 20px rgba(0, 0, 0, 0.19); 
}

.estilos-videos
{
    /*border: 1px solid black;*/
    margin-top: 60px;
    margin-left: 125px;
    margin-right: 150px;

}

body {

    background-image: url("Background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

.button1
{
    position: absolute;
    top: 175px;
    left: 225px;
    display: inline /*none*/; 
} 

.buttons
{
    position: relative;
    width: 100%;
    max-width: 400px;
}