video {
    display: block;
    margin: 0 auto;
    border-radius: 7%;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3), 0 0 25px 20px rgba(0, 0, 0, 0.19);
    border-radius: 20px 60px;
    border: 10px solid #A8BB81;
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;

}

.estilos-videos
{
    /*border: 1px solid black;*/
    margin-top: 75px;
    margin-left: 155px;
    margin-right: 170px;
    display: flex;

}

body {

    background-image: url("Background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

button{
    position: absolute;
    width: 11%;
    height: 16.2%;
    max-width: 11%;
    max-height: 16.2%;
    opacity: 100;
    cursor: pointer;

}

.button1
{
    
    position: absolute;
    top: 44%;
    left: 25.4%; 
    opacity: 0,5;
    display: none; 
} 

.button2{

    position: absolute;
    top: 44%;
    left: 44.2%;
    opacity: 0,5;
    display: none; 

}

.button3
{
    position: absolute;
    top: 44%;
    left: 63.1%;
    display: none; 
    
}

.button4
{
    position: absolute;
    top: 64%;
    left: 25.4%;
    display: none; 
   
}

.button5
{
    position: absolute;
    top: 64%;
    left: 44%; 
    opacity: 0,5;
    display: none; 

}

.button6
{
    position: absolute;
    top: 64%;
    left: 63%;
    opacity: 0,5;
    display: none; 

}
.buttonback
{
    display: none;
}



